@{
    ViewData["Title"] = "Home Page";
   
}

<!-- component body of home page-->
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Our Library</h1>
        <p class="lead">Explore a world of knowledge and adventure.</p>
        <hr class="my-4">
        <p>Discover our collection of books and resources.</p>
        <a class="btn btn-primary btn-lg" asp-controller="Book" asp-action="index" role="button">Search Books!</a>
    </div>

    
</div>
